.sidebar
  .sidebar__user
    .sidebar__user-content
      %p.sidebar__user--name Ryosuke
      %a.sidebar__user--newgroup
        %i.fa.fa-pencil-square-o
      %a.sidebar__user--edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .sidebar__groups
    .sidebar__group--list
      .sidebar__group
        %p.sidebar__group--name Techcamp
        %p.sidebar__group--message Hello World!!
      .sidebar__group
        %p.sidebar__group--name Mr.Tech
        %p.sidebar__group--message Hi there!!
      .sidebar__group
        %p.sidebar__group--name Techcollege
        %p.sidebar__group--message Good morning everyone!!
